{% extends "base.html" %}
{% load static %}

{% block title %}Data Analytics & Machine Learning Projects{% endblock %}
{% block nav_home_active %}nav-link-active{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero hero-bg">
  <div class="hero-overlay"></div>
  <div class="hero-inner">
    <h1>Mathematician &amp; Data Analyst / ML Practitioner</h1>
  </div>
</section>

<!-- FEATURED PROJECTS (no carousel) -->
<section class="card" id="projects">
  <header style="margin-bottom:.75rem;">
    <h2>Featured projects</h2>
    <p class="muted" style="margin:0;">
      
    </p>
  </header>

  <div class="project-grid">


        <!-- FX Model Deployment -->
    <a href="{% url 'portfolio:project_model_deploy' %}"
      class="project-thumb"
      data-analytics="project_thumb"
      data-analytics-label="ML Deployment Platform">
      <figure>
        <img src="{% static 'images/projects/model_deploy/banner.png' %}"
            alt="FX Model Deployment Demo">
      </figure>
    </a>

    <!-- Amazon Recommender -->
    <a href="{% url 'portfolio:project_amazon_recommender' %}"
      class="project-thumb"
      data-analytics="project_thumb"
      data-analytics-label="Amazon Product Recommender">
      <figure>
        <img src="{% static 'images/projects/amazon_recommender/banner.png' %}"
            alt="Amazon-style Product Recommender">
      </figure>
    </a>

    <!-- Lead Conversion -->
    <a href="{% url 'portfolio:project_lead_conversion' %}"
      class="project-thumb"
      data-analytics="project_thumb"
      data-analytics-label="Lead Conversion Prediction">
      <figure>
        <img src="{% static 'images/projects/lead_conversion/banner.png' %}"
            alt="Lead Conversion Prediction">
      </figure>
    </a>

    <!-- Customer Segmentation -->
    <a href="{% url 'portfolio:project_customer_segmentation' %}"
      class="project-thumb"
      data-analytics="project_thumb"
      data-analytics-label="Customer Personality Segmentation">
      <figure>
        <img src="{% static 'images/projects/customer_segmentation/banner.png' %}"
            alt="Customer Personality Segmentation">
      </figure>
    </a>



  </div>
</section>

{% endblock %}
