{% extends "base.html" %}
{% block title %}Projects – FX & ML Portfolio{% endblock %}

{% block nav_projects_active %}nav-link-active{% endblock %}

{% block nav_row2 %}
<nav class="subnav">
  <a href="{% url 'portfolio:project_model_deploy' %}" class="nav-link">
    FX Model Deployment Demo
  </a>
  <a href="{% url 'portfolio:project_amazon_recommender' %}" class="nav-link">
    Amazon-style Product Recommender
  </a>
  <a href="{% url 'portfolio:project_lead_conversion' %}" class="nav-link">
    Lead Conversion Prediction
  </a>
  <a href="{% url 'portfolio:project_customer_segmentation' %}" class="nav-link">
    Customer Segmentation
  </a>
</nav>
{% endblock %}

{% block content %}
<section class="card">
  <h2>Projects</h2>
  <ul>
    <li><a href="{% url 'portfolio:project_model_deploy' %}">FX Model Deployment Demo</a></li>
    <li><a href="{% url 'portfolio:project_amazon_recommender' %}">Amazon-style Product Recommender</a></li>
    <li><a href="{% url 'portfolio:project_lead_conversion' %}">Lead Conversion Prediction</a></li>
    <li><a href="{% url 'portfolio:project_customer_segmentation' %}">Customer Segmentation</a></li>
  </ul>
</section>
{% endblock %}
